@use '../vars' as *;

.banner-slider-wrapper {

	.banner-slider {
		position: relative;
		z-index: 1;
		max-width: var(--secondary-block-width);

		.banner-slide {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			min-height: 600px;
			padding: var(--block-side-padding);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			&-content {
				z-index: 2;
				top: 0;
				left: 0;
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				max-width: var(--primary-block-width);
				margin-inline: auto;

				&:after {
					position: absolute;
					z-index: -1;
					top: 0;
					bottom: 0;
					left: 0;
					//width :50%;
					//max-width: 580px;
					display: block;
					width: min(50%, 580px);
					height: 100%;
					content: '';
					background-color: rgba(var(--color-white-rgb), 0.3);
					backdrop-filter: blur(var(--blur));
				}
			}

			&-article {
				//width: 423px;
				width: min(40%, 420px);
				line-height: 1.1;
			}

			&-title {
				font-family: var(--secondary-font), sans-serif;
				font-size: var(--xxl-font-size);
				font-weight: 900;
				margin-bottom: 40px;
				text-transform: uppercase;
				@include protect(3);

				@media (max-width: 768px) {
					margin-bottom: 20px;
				}
			}

			&-text {
				font-size: var(--s-font-size);
				@include protect(4);
				margin-bottom: 40px;
				@media (max-width: 768px) {
					margin-bottom: 20px;
				}
			}

			@media (max-width: 768px) {
				min-height: calc(100vh - var(--header-height));
				min-height: calc(100svh - var(--header-height));
				&-content {
					position: absolute;
					top: 50%;
					right: 0;
					bottom: 0;
					left: 0;

					&:after {
						top: auto;
						width: 100%;
						height: 100%;
					}
				}
				&-article {
					width: 100%;
					padding: var(--block-side-padding);
				}
				&-btn {
					width: 100%;
				}
			}
		}

		.pagination{
			overflow: visible;
			.swiper-pagination-bullet {
				background-color: var(--color-chocolate);
				border: 1px solid var(--color-sandy);
				border-radius: 50px;
				opacity: 1;
				height: 12px;
				width: 12px;
				transition: width 0.2s;
				box-shadow: 0 0 20px var(--color-black);
				&-active{
					width: 34px;
				}
			}
			margin-bottom: 10px;
		}
	}
}