@use '../vars' as *;

.product-gallery-wrapper {
	padding: 0;
	.product-gallery {
		position: relative;
		z-index: 1;
		max-width: var(--secondary-block-width);

		.gallery {
			position: relative;
			z-index: 100;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: flex-start;
			min-height: 600px;
			padding: 90px var(--block-side-padding);
			background-repeat: repeat;
			background-position: center;
			background-size: cover;

			@media (max-width: 1024px) {
				padding: var(--block-side-padding);
			}

			&.decorate {
				z-index: 90;

				&:before, &:after {
					position: absolute;
					top: 0;
					display: block;
					overflow: visible;
					width: 300px;
					height: 100%;
					content: '';
					background-image: url('../img/decor.webp');
					background-repeat: no-repeat repeat;
					background-position: top;
					background-size: contain;
				}

				&:before {
					left: 0;
					transform: translateX(-60%);
				}

				&:after {
					right: 0;
					transform: translateX(60%);
				}

				@media (max-width: 1024px) {
					&:before, &:after {
						display: none;
					}
				}
			}

			&-text {
				z-index: 95;
				width: 100%;
				max-width: var(--primary-block-width);
				margin-bottom: 70px;
				text-align: center;
				text-transform: uppercase;
				@media (max-width: 768px) {
					margin-bottom: 24px;
				}
			}

			&-subtitle {
				font-size: var(--xs-font-size);
				margin-bottom: 20px;
				@media (max-width: 768px) {
					margin-bottom: 15px;
				}
			}

			&-title {
				font-family: var(--secondary-font), sans-serif;
				font-size: var(--xxl-font-size);
				font-weight: 800;
			}

			&-list {
				display: grid;
				width: 100%;
				max-width: var(--primary-block-width);
				margin-bottom: 50px;
				grid-template-columns: repeat(3, 1fr);
				gap: 50px;
				@media (max-width: 1024px) {
					width : 100%;
					grid-template-columns: repeat(2, 1fr);
					gap: 25px;
				}
				@media (max-width: 768px) {
					margin-bottom: 24px;
					grid-template-columns: 1fr;
				}

				&-item {
				}
			}

			&-button {
			}

			&-link {
				font-size: var(--xs-font-size);
				font-weight: 500;
				line-height: 1;
				position: relative;
				user-select: none;
				text-decoration: none;
				text-transform: uppercase;
				color: inherit;

				&:before {
					position: absolute;
					right: 0;
					bottom: -10px;
					left: auto;
					width: 0;
					height: 1px;
					content: '';
					transition: all .2s;
					background: currentColor;
				}

				&:hover {
					&:before {
						right: auto;
						left: 0;
						width: 100%;
					}
				}

				&:after {
					position: relative;
					display: inline-block;
					width: 8px;
					height: 8px;
					margin-bottom: 2px;
					margin-left: 10px;
					content: '';
					transform: rotate(-45deg);
					border-right: 2px solid currentColor;
					border-bottom: 2px solid currentColor;
				}
			}
		}
	}
}