@use '../vars' as *;

.single-item-wrapper {
	.single-item {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: var(--secondary-block-width);
		min-height: 600px;
		padding: 90px var(--block-side-padding);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: 1024px) {
			padding: var(--block-side-padding);
		}

		&:after {
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			background-color: rgba(var(--color-white-rgb), 0.5);
			backdrop-filter: blur(var(--blur));
		}

		.item {
			flex: 1;
			width: 100%;
			max-width: var(--primary-block-width);
			height: 100%;
			margin-inline: auto;
			gap: 25px;
			display: grid;
			grid-template-columns: auto 1fr 1fr;

			grid-template-areas: 'items img content';

			@media (max-width: 1024px) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto  80px;
				grid-template-areas: 'img content'
									'items items'
			;
			}
			@media (max-width: 768px) {
				grid-template-columns: auto;
				grid-template-rows: auto auto 80px;
				grid-template-areas: 'img'
									'content'
									'items'
			;
			}

			img{
				display: block;
			}

			&-list {
				grid-area: items;
				display: flex;
				flex-direction: column;
				gap :25px;

				@media (max-width: 1024px) {
					flex-direction: row;
					max-width: 100%;
					margin-inline: auto;

				}
				@media (max-width: 768px) {
					overflow-x: auto;
					scroll-snap-type: x mandatory;
					-webkit-overflow-scrolling: touch;
					padding-inline: 10px;
					gap: 15px;
					&::-webkit-scrollbar {
						display: none;
					}
				}

				&-item{
					cursor: pointer;
					border-radius: 50%;
					overflow: hidden;
					background-color: rgba(var(--color-white-rgb), 0.7);
					backdrop-filter: blur(var(--blur));
					flex-shrink: 0;
					width: 80px;
					height: 80px;

					input[type="radio"] {
						display: none;
					}

					@media (max-width: 768px) {
						scroll-snap-align: center;
					}
				}

				img {
					width: 100%;
					aspect-ratio: 1/1;
					object-fit: cover;
					object-position: center;
				}
			}

			&-images {
				grid-area: img;
				display: flex;
				justify-content: center;
				align-items: stretch;


				&-item{
					display: none;
					flex :1;
					background-color: rgba(var(--color-white-rgb), 0.7);
					backdrop-filter: blur(var(--blur));
					border-radius: 2px;
					overflow: hidden;
					justify-content: center;
					align-items: center;
					padding: 10px;
					animation: .2s show-down ;
				}

				&-item:has(input:checked){
					display: flex;
				}

				img {
					width: 100%;
					aspect-ratio: 1/1;
					object-fit: contain;
					object-position: center;
				}
			}

			&-content {
				grid-area: content;

				&-title {
					font-family: var(--secondary-font), sans-serif;
					font-size: var(--xxl-font-size);
					font-weight: 900;
					margin-bottom: 40px;
					text-transform: uppercase;
					@include protect(3);
					@media (max-width: 768px) {
						margin-bottom: 20px;
					}
				}

				&-text {
					font-size: var(--s-font-size);
					@include protect(4);
					margin-bottom: 40px;
					@media (max-width: 768px) {
						margin-bottom: 20px;
					}
				}

			}
		}
	}
}